# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
.ropeproject/



# Ignore virtual environment
venv/

# Ignore environment variables file
.env/*

# Ignore log files
logs/*

# Ignore IDE-specific files
.vscode/
.idea/

#placeholder

!logs/log_config.json
!.env/env.sample
