# General configuration
PROJECT_NAME=PureDelhi
LOG_LEVEL=DEBUG


# API Keys (example for weather API or other APIs )

API_KEY_WEATHER=your_weather_api_key
API_URL_WEATHER=https://api.weather.com/v3/wx/forecast/daily

# Logging settings
LOG_DIR=logs
